.facetwp-checkbox[data-value="soluciones-de-movilidad-sostenible"] .facetwp-custom-icon { 
    background-image: url("assets/icons/productos-eco.svg"); 
}
.facetwp-checkbox[data-value="innovacion-tecnologica"] .facetwp-custom-icon { 
    background-image: url("assets/icons/grid.svg"); 
}
.facetwp-checkbox[data-value="economia-circular"] .facetwp-custom-icon { 
    background-image: url("assets/icons/refresh-cw.svg"); 
}