@use '../abstracts/mixins' as *;

.wp-block-query {
    .wp-block-post {
        a {
            text-decoration: none;
            overflow: hidden;
            
            img.wp-post-image {    
                transition: transform 1s ease-in-out;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }

    .eess-loop.wp-block-post-template {
        display: flex;
        flex-wrap: wrap;
        gap: var(--wp--custom--layout--gap);
        

        @media ($below-tablet) {
            flex-direction: column;

            .wp-block-group.card-services {
                min-height: 100%;
            }
        }

        .wp-block-post {
            flex: 1;
            margin-block-start: 0;

            
        }
    }

    &.loop-proyectos-home {

        li.wp-block-post {

            .wp-block-cover {

            }

            .wp-block-cover__inner-container {
                height: 100%;
            }

            .wp-block-cover__background {
                opacity: 0;
            }

            &:nth-child(3n+1) {
                .wp-block-cover {
                    background-color: var(--wp--preset--color--secondary-100) !important;
                }
                .wp-block-cover__image-background {
                    display: none;
                }
            }

             &:nth-child(3n+2) {
                .wp-block-cover {
                    background-color: var(--wp--preset--color--primary) !important;
                }
                .wp-block-post-featured-image,
                .safe-svg-inside {
                    display: none;
                }
                .content-group {
                    background-color: var(--wp--preset--color--primary);
                }

                @media ($above-tablet) {
                    margin-top: var(--wp--custom--layout--gap);
                }
            }

             &:nth-child(3n) {
                .wp-block-cover {
                    background-color: var(--wp--preset--color--secondary) !important;
                }
                .wp-block-cover__image-background,
                .safe-svg-inside {
                    display: none;
                }
                .wp-block-post-featured-image {
                    margin-left: auto;
                }
                @media ($above-tablet) {
                    margin-top: calc( 2 * var(--wp--custom--layout--gap) );
                }
            }

        }
    }
}

.wp-block-columns.loop-proyectos-home {

    .wp-block-column {
        &:nth-child(3n+1) {

        }

        &:nth-child(3n+2) {
            @media ($above-tablet) {
                margin-top: var(--wp--custom--layout--gap);
            }
        }
 
        &:nth-child(3n) {
            @media ($above-tablet) {
                margin-top: calc( 2 * var(--wp--custom--layout--gap) );
            }
        }
    }

}

.is-style-is-related-posts .taxonomy-category.has-heading-4-font-size > a {
    color: initial;
    text-decoration: none;
}

