@use '../abstracts/mixins' as *;

#colophon {
    position: relative;
    z-index: 1;

    .box-menu-footer {

        @media ($below-mobile) {
            padding: 1rem !important;
        }
    }
}

.footer-logo {
    @media ($below-mobile) {
        max-width: 200px;
    }
}