@use '../abstracts/mixins' as *;

#hero {
    &.wp-block-cover {
        height: 60rem;

        .home & {
        
            @media ($below-mobile) {
                align-items: flex-end;
                justify-content: center;
            }
        }
    }

    .blog &, .archive &, .search & {
        height: 40rem;
    } 

    #box-hero {
        position: relative;
        
        &::before {
            content: url("./assets/images/symbol-box-hero.png");
            position: absolute;
            background-repeat: no-repeat;
            top: 2rem;
            left: -3rem;
            width: 121px;
            height: 92px;

            @media ($below-mobile) {
                left: -1.5rem;
            }
        }
    }

    .petrolera-hero-estacion {
        display: flex;
        align-items: center;
        gap: 1rem;

        .petrolera-icon svg{
            width: 3rem;
            height: 3rem;
        }
    }
}

