@use '../abstracts/mixins' as *;

@media ($above-tablet) {
    body {
        --wp--style--root--padding-right: 2rem;
        --wp--style--root--padding-left: 2rem;
    }  
}

body .is-layout-flow {

    & > .wp-block-image.alignright {
        margin-inline-start: 0;
    }

    & > .wp-block-image.alignleft {
        margin-inline-end: 0;
    }
} 

:where(.wp-block-group.has-background) {
    padding: var(--wp--custom--layout--gap);
}

:root :where(.wp-block-cover) {
    padding-left: var(--wp--style--root--padding-left);
    padding-right: var(--wp--style--root--padding-right);
}

.has-white-blur-background-color {
    backdrop-filter: blur(8px);
}

body {
    &.search-results,
    &.error404 {

        #primary {
            padding-top: 120px;
            padding-bottom: var(--wp--custom--layout--gap);
        }

        .page-header,
        .page-title {
            margin-block-start: 0;
        }

    }

}

.smn-child-pages-wrapper {
    margin-top: var(--wp--custom--layout--gap);
    padding-top: var(--wp--custom--layout--gap);
    margin-block-end: var(--wp--custom--layout--gap) !important;
    border-top: 1px solid var(--wp--preset--color--neutral-60);

    .smn-child-pages-title {
        margin-block-start: 0;
    }
}