@use '../abstracts/mixins' as *;

.wp-block-post-title a {
	text-decoration: none;
}

[class*="has-heading-"][class*="-font-size"] {
    line-height: var(--wp--custom--line-height--headings);
    font-family: var(--wp--preset--font-family--font-heading);
}

.hero-eyebrow {
    font-size: var(--wp--preset--font-size--small);
    text-transform: uppercase;
}

.has-small-font-size {
    margin-block-start: 1em;
}