@use '../abstracts/mixins' as *;

.wp-block-post-title a {
	text-decoration: none;
}

[class*="has-heading-"][class*="-font-size"] {
    line-height: var(--wp--custom--line-height--headings);
    font-family: var(--wp--preset--font-family--font-heading);
}

.hero-eyebrow {
    font-size: var(--wp--preset--font-size--small);
    text-transform: uppercase;
}

.wp-block-heading.has-caption-font-size {
    color: var(--wp--preset--color--foreground);
}

.has-small-font-size {
    margin-block-start: 1em;
}

.wp-block-paragraph.has-background {
    padding: var(--wp--preset--spacing--10) var(--wp--preset--spacing--20);
    border-radius: var(--wp--custom--border-radius--05);
}

.terms-list {
    font-size: var(--wp--preset--font-size--small);
}